body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    width: auto;
    max-width: 600px;
    background-color: blue;
    padding: 24px;
    border-radius: 10px;
    box-shadow: gray;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: azure;
    color: black;
    border: none;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#defination p {
    margin: 5px 0;
}

#synonyms span {
    background-color: #e0e0ff;
    margin: 3px;
    padding: 5px 8px;
    border-radius: 5px;
    display: inline-block;
}

